@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
.top {
    min-height: 1024px;
    background:  url(./img/backgrond.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
.top__content{
    padding-top: 217px;
    &_header{
        color: #fff;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        align-items: center;
    }
    &_text{
        margin-top: 2rem;
        width: 481px;
        color: #fff;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
    }
    &_text_bolt {
        font-weight: bold;
    }
    &_button button {
        margin-top: 44px;
        cursor: pointer;
        width: 234px; 
        height: 48px;
        background: #9C0332;
        border-radius: 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }
    &_button button:hover {
        transition:  background .3s;
        background: #EB443F
    }
}
.games {
    min-height: 556px;
    background:  url(./img/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.games__cart {
    display: flex;
    justify-content: space-between;
    gap:31px;
    flex-wrap: wrap;
    &_item1 {
      &_item1 {
        background: url(./img/game1.png);
        min-width: 379px;
        border-radius: 18px;
    &_text {
        padding-top: 236px;
        padding-left: 32px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #fff;
        }   
        }
    }
    &_item2 {
        background: url(./img/game2.png);
        min-width: 379px;
        height: 300px;
        border-radius: 18px;
    &_text {
        padding-top: 236px;
        padding-left: 32px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #fff;
    }   
    }
    &_item3 {
        background: url(./img/game3.png);
        min-width: 379px;
        height: 300px;
        border-radius: 18px;
    &_text {
        padding-top: 236px;
        padding-left: 32px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #fff;
    }   
    }
    &_item1:hover {
        transition: .3s border;
        cursor: pointer;
        border: 3px solid #44D2FF;
    }
    &_item2:hover {
        transition: .3s border;
        cursor: pointer;
        border: 3px solid #44D2FF;
    }
    &_item3:hover {
        transition: .3s border;
        cursor: pointer;
        border: 3px solid #44D2FF;
    }
}
.game1 .top__content {
    padding: 0;
}
.game1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 800px;
    background:  url(./img/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__header {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    }
    &__text {
        margin-top: 20px;
        width: 604px;
        color: #fff;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
    }
}

@media (max-width: 767px){
    .center {
        padding-left: 16px;
        padding-right: 16px;
      }
      .top {
        min-height: 735px;
      }
    .top__content {
        padding-top: 238px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_header {
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
        }
        &_text {
            width: 343px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
    }
} 

  .games__cart {
    &_item1 {
       min-width: 343px;
    }
    &_item2 {
        min-width: 343px;
     }
     &_item3 {
        min-width: 343px;
        margin-bottom: 127px;
     }

  }  

  .game1__header {
    text-align: center;
    font-size: 32px;
  }

  .game1__right svg {
    width: 340px;
  }
}